@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
    padding: 50px 0;
    background-color: $color-primary;
    color: $color-white;

    &__name {
        font-size: 1.3125rem;
        font-weight: 500;
        margin-bottom: 15px;
    }

    &__copyright {
        font-size: 0.8rem;
    }
}