$font-size: 16px;
$font-family: "Roboto", sans-serif;
$letter-spacing: 0.1rem;
$line-height-normal: 1.2;
$line-height-large: 1.65;
$container-primary: 1110px;
$container-sm: 541px;
$gap: 20px;
$gap-lg: calc($gap * 2);
$gap-sm: calc($gap * 0.5);

$ul: 1380px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 480px;
$xx: 420px;
$ux: 360px;
